/*Navbar */

.navbar-brand {
  font-family: 'Cinzel', serif;
  font-size: 28px;
}

/* Main Section */

.main-section{
  min-height:800px; 
  background:black;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #fed136;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #fff;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #000000;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #00FF00;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}

.main-text{
  color:#00FF00;
  font-family: Monospace;
  font-size: 34px
}

header {
    text-align: center;
    color: #000;
    min-height:800px;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

    @media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

.blinking-cursor {
  font-weight: 100;
  font-size: 35px;
  font-color: #00FF00;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00FF00;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #00FF00;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00FF00;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00FF00;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00FF00;
  }
}

/* About Section*/

.about-section {
  min-height:800px;
  background:lightgrey;
}

.about-title{
  text-align: center; 
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700
}

body {
  overflow-x: hidden;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.description {
  color: #777;
}

h4{
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #222;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #32CD32;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0;
}

.list-inline {
  margin-left: 105px;
}

.fa {
  padding-left: 11px; 
  padding-top: 10px;
}

.btn-black.btn-primary.outline {
  border: 2px solid #000000;
  color: #000000;
  margin-right: 20px;
  font-size: 13px;
  font-family: "montserrat";
}

.btn-black.outline {
  background: none;
  padding: 12px 22px;
}

a.button-link, a:visited {
  color: #696969;
  text-decoration: none;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #696969;
  border-color:  #696969;
}

.container-fluid#download-button {
    padding-top: 12px;
    padding-left: 480px;
}

/* Portfolio Section*/

.portfolio-section {
  min-height:900px;
  background:white;
} 

.portfolio-caption {
  text-align: center;
}

.portfolio-title{
  text-align: center; 
  color: #778899;
  font-size: 40px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.img-hover {
  position: relative;
  vertical-align: top;
}

.img-hover__image { display: block; }

.img-hover__body {
  background: rgba(46, 255, 0, 0.75);
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.img-hover__body:hover { opacity: 1; }

.img-hover__body:after,
.img-hover__body:before {
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
}

.img-hover__body.border:after,
.img-hover__body.border:before {
  border: 1px solid rgba(255, 255, 255, 0.7);
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
}

.img-hover__body:before {
  border-bottom: none;
  border-top: none;
  left: 2em;
  right: 2em;
}

.img-hover__body:after {
  border-left: none;
  border-right: none;
  bottom: 2em;
  top: 2em;
}

.img-hover__body:hover:after,
.img-hover__body:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.img-hover__body h2 { margin-top: 0; }

.img-hover__body p { margin-bottom: 1.5em; }

.img-hover:nth-child(2) .img-hover__body { background: rgba(146, 41, 185, 0.7); }

.img-hover:nth-child(3) .img-hover__body { background: rgba(185, 41, 128, 0.7); }

.img-hover:nth-child(4) .img-hover__body { background: rgba(185, 50, 41, 0.7); }

.img-hover:nth-child(5) .img-hover__body { background: rgba(185, 146, 41, 0.7); }

.img-hover:nth-child(6) .img-hover__body { background: rgba(128, 185, 41, 0.7); }

.glyphicon {
  top: 80px;
}

/* Modals */

.modal-footer {
  text-align: center;
}

.modal{
  text-align: center;
     position: fixed;
    left: 25%;
    top: 10%;
}

.modal-content {
  max-width: 700px;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.75;
}

.img-responsive#image {
  display: inline;
}

/*Contact Section */
 
.contact-section {
    min-height:400px;
    background-image: url('../img/mountains.jpg');
    background-size: 2560px 1100px;  
    background-position: center;
    background-repeat: no-repeat;
}

/* Contact Form */

.btn.btn-success.btn-lg{
  margin-left: 220px;
}

.contact-form-title{
  text-align: center; 
  color: #778899;
  font-size: 40px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700
}

.form-control {
  height: 75px;
  font-size: 24px;
}


.submission-field { 
  width: 350px; 
  height: 76px; 
  border: 1px solid #999999; 
  padding: 5px; 
  font-size: 30px
}

.message-field {
  font-size: 30px;
}

/* Footer */

footer {
  padding-top: 167px;
}

.footer-items {
  padding-left: 133px;
  font-family: 'Lato', serif;
}

.copyright{
  color: #fff
}

.col-md-8.footer-items{
  padding-bottom: 50px;
}

/* Button and Icon Responsiveness Media Queries */

@media (max-width: 1199px) {
  .container-fluid#download-button {
    padding-left: 375px;
  }
  .list-inline.social-buttons {
    margin-left: 70px;
  }
}

@media (max-width: 991px) {
  .container-fluid#download-button {
    padding-left: 264px;
  }
  .list-inline.social-buttons {
   margin-left: 33px; 
  }
  .col-md-8.footer-items{
  padding-left: 350px;
  }
  .modal{
    left: 0%;
    top: 0%;
  }
  .glyphicon {
    top: 168px;
  }
  .img-hover__body {
    font-size: 3em;
  }
}

@media (max-width: 768px) {
  .about-section {
    min-height:900px;
  }
  .list-inline.social-buttons {
    margin-left: 287px; 
  }
  .col-md-8.footer-items{
  padding-left: 300px;
  }
  header .intro-text {
  padding-top: 235px;
  }
  
}

@media (max-width: 730px) {
  .list-inline.social-buttons {
    margin-left: 271px; 
  }
}

@media (max-width: 710px) {
  .list-inline.social-buttons {
    margin-left: 266px; 
  }
  .container-fluid#download-button {
    padding-left: 247px;
  }
  .glyphicon {
    top: 150px;
  }
  .img-hover__body {
    font-size: 2em;
  }
}

@media (max-width: 684px) {
  .list-inline.social-buttons {
    margin-left: 250px; 
  }
  .container-fluid#download-button {
    padding-left: 230px;
  }
  .glyphicon {
    top: 144px;
  }
  .img-hover__body {
    font-size: 2em;
  }
}

@media (max-width: 655px) {
  .list-inline.social-buttons {
    margin-left: 234px; 
  }
  .container-fluid#download-button {
    padding-left: 220px;
  }
}

@media (max-width: 623px) {
  .container-fluid#download-button {
    padding-left: 175px;
  }
  input.btn.btn-success.btn-lg {
    margin-left: 180px;
  }
  .col-md-8.footer-items{
    padding-left: 200px;
  }
  .list-inline.social-buttons {
    margin-left: 219px; 
  }
}

@media (max-width: 600px) {
  .list-inline.social-buttons {
    margin-left: 206px; 
  }
}

@media (max-width: 580px) {
  .list-inline.social-buttons {
    margin-left: 195px; 
  }
  .glyphicon {
    top: 129px;
  }
  .img-hover__body {
    font-size: 1em;
  }
}

@media (max-width: 540px) {
  .container-fluid#download-button {
    padding-left: 150px;
  }
  .list-inline.social-buttons {
    margin-left: 175px; 
  }
}

@media (max-width: 520px) {
  .container-fluid#download-button {
    padding-left: 150px;
  }
  .list-inline.social-buttons {
    margin-left: 168px; 
  }
}

@media (max-width: 500px) {
  .container-fluid#download-button {
    padding-left: 135px;
  }
  .list-inline.social-buttons {
    margin-left: 158px; 
  }
}

@media (max-width: 485px) {
  .container-fluid#download-button {
    padding-left: 135px;
  }
  .list-inline.social-buttons {
    margin-left: 150px; 
  }
  .glyphicon {
    top: 100px;
  }
}

@media (max-width: 445px) {
  .container-fluid#download-button {
    padding-left: 109px;
  }
  .list-inline.social-buttons {
    margin-left: 128px; 
  }
  .glyphicon {
    top: 80px;
  }
}

@media (max-width: 438px) {
  input.btn.btn-success.btn-lg {
    margin-left: 90px;
  }
  .col-md-8.footer-items{
    padding-left: 100px;
  }
  .container-fluid#download-button {
    padding-left: 102px;
  }
  .list-inline.social-buttons {
    margin-left: 117px; 
  }
}

@media (max-width: 400px) {
  .container-fluid#download-button {
    padding-left: 92px;
  }
  .list-inline.social-buttons {
    margin-left: 105px; 
  }
  input.btn.btn-success.btn-lg {
    margin-left: 75px;
  }
  .navbar-brand {
  font-size: 22px;
  }
}

@media (max-width: 360px) {
  .container-fluid#download-button {
    padding-left: 70px;
  }
  .list-inline.social-buttons {
    margin-left: 87px; 
  }
  input.btn.btn-success.btn-lg {
    margin-left: 53px;
  }
}
